- title("Recipes")
.row
  .col-md-12
    %h1
      %i.fa.fa-cutlery
      Phil's Curated Recipes
.row
  .col-md-9
    %table
      %thead
        %tr
          %th Name
      %tbody
        - @recipes.each do |recipe|
          %tr
            %td= link_to recipe.name, recipe_path(recipe)

    = paginate @recipes
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Tags
      .panel-body
        - @tags.each do |tag|
          .tag
            = link_to tag, recipes_path({t: tag})
