- title("About")
%h1
  %i.fa.fa-info-circle
  About
%p
  The goal of this site was to provide an easy way to publish and consume recipes that have been saved with #{link_to("Paprika", "http://paprikaapp.com/")}. I do not claim ownership for most of the recipes found on here. All recipes that are not my own are sourced. If you own any of this content and want it removed, please contact me at pubprika[AT]gmail[DOT]com. If you use Paprika and are interested in exporting and sharing your recipe library, see this site's source and the Paprika export conversion script on github: #{link_to("https://github.com/preichelt/pubprika", "https://github.com/preichelt/pubprika")}
