- title("About")
%h1
  %i.fa.fa-info-circle
  About
%p
  I do not claim ownership for most of the recipes found on here. This is a collection of recipes I've saved using the app Paprika. All recipes that are not my own are sourced. If you own any of this content and want it removed, please contact me at pubprika[AT]gmail[DOT]com. This site was made to easily share the recipes I've hoarded. If you use Paprika and are interested in exporting and sharing your recipe library,
  = link_to "see this site's source on github.", "https://github.com/preichelt/pubprika"
