- title("About")
%h1
  %i.fa.fa-info-circle
  About
%p
  The goal of this site was to provide an easy way to publish and consume recipes that have been saved with #{link_to("Paprika", "http://paprikaapp.com/")}. Paprika is great for saving and using recipes personally, but I wanted an easier way to share all of these recipes than its built in dump of html files. I wanted a responsive site with full text searching, but lightweight enough to run freely on #{link_to("Heroku","https://heroku.com")}.
%p
  I do not claim ownership for most of the recipes found on here. All recipes that are not my own are sourced. If you own any of this content and want it removed, please contact me at pubprika[AT]gmail[DOT]com.
%p
  If you use Paprika and are interested in exporting and sharing your recipe library, see this site's source and the Paprika export conversion script on Github: #{link_to("https://github.com/preichelt/pubprika", "https://github.com/preichelt/pubprika")}
