// index
.recipes-container
  .grid-img-container
    height: 200px

    .thumbnail-img
      max-height: 180px

  .thumbnail
    position: relative
    overflow: hidden

    .caption
      position: absolute
      top: -100%
      right: 0
      background: rgba(44, 62, 80, 0.75)
      opacity: 0.0
      width: 100%
      height: 100%
      padding: 2%
      text-align: center
      color: #fff
      z-index: 2
      -webkit-transition: all 0.1s linear
      -moz-transition: all 0.1s linear
      -o-transition: all 0.1s linear
      -ms-transition: all 0.1s linear
      transition: all 0.1s linear

      h4
        a
          color: #fff

        a:hover
          text-decoration: none

  .thumbnail:hover .caption
    top: 0%
    opacity: 1.0

  p.tags
    font-size: 12px

.view-btn-group
  margin-bottom: 10px

.small-pagination
  .pagination
    li
      a
        padding: 5px

// show
.recipe-info-row
  h2
    margin-top: 0px

// print
@media print
  a[href]:after
    content: none
